{{>layout/header}}
{{>layout/nav}}
<div class="container">
    <h1 class="mb-4">{{userid}}, добро пожаловать.</h1>
    <div id="shipDiv">
        <br>
        <h2 align="center">Адреса доставки</h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>
                    Индекс
                </th>
                <th>
                    Базовый адрес
                </th>
            </tr>
            </thead>
            <tbody>
            {{#addrInfo}}
                <tr>
                    <td>{{shippingNum}}</td>
                    <td>{{basicAddr}}</td>
                    <form method="post" action="/users/deleteAddr/{{uid}}">
                        <td><input type="submit" class="btn btn-outline-danger" value="Удалить"/></td>
                    </form>
                </tr>
            {{/addrInfo}}
            </tbody>
        </table>
        <p><a class="btn btn-outline-secondary" id="btn-shipadd" role="button">Сохранить адрес</a></p>
        <div id="container-addr"></div>
    </div>
    <div id="cardDiv">
        <br>
        <h2 align="center">Банковские карты</h2>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Платежная система</th>
                <th>Номер карты</th>
                <th>Срок действия</th>
            </tr>
            </thead>
            <tbody>
            {{#cardInfo}}
                <tr>
                    <td>{{type}}</td>
                    <td>{{id}}</td>
                    <td>{{datetime}}</td>
                    <form method="post" action="/users/deleteCard/{{id}}">
                        <td><input type="submit" class="btn btn-outline-danger" value="Удалить"/></td>
                    </form>
                </tr>
            {{/cardInfo}}
            </tbody>
        </table>
        <p><a class="btn btn-outline-secondary" id="btn-cardadd" role="button">Добавить карту</a></p>
        <div id="container-card"></div>
    </div>
    <br>
    <h2 align="center">История заказов</h2>
    <table class="table table-hover table-bordered text-center">
        <thead>
        <th>Дата заказа</th>
        <th>Адрес доставки</th>
        <th>Цена</th>
        </thead>
        <tbody>
        {{#orderInfo}}
            <tr>
                <td>{{orderDate}}</td>
                <td>{{address}}</td>
                <td>{{price}}</td>
            </tr>
        {{/orderInfo}}
        </tbody>
    </table>
</div>
{{>layout/footer}}