{{>layout/header}}
{{>layout/nav}}
<div class="container">
    <form>
        <h1 align="center">Регистрация</h1>
        <br>
        <div class="form-group">
            <label for="id">Логин</label>
            <br>
            <input type="text" class="form-control" id="id" placeholder="Пожалуйста, введите ваш логин" required>
        </div>
        <br>
        <div class="form-group">
            <label for="pw">Пароль</label>
            <br>
            <input type="password" class="form-control" id="pw" placeholder="Пароль" required>
        </div>
        <br>
        <div class="form-group">
            <label for="name">Имя</label>
            <br>
            <input type="text" class="form-control" id="name" placeholder="Введите свое имя, пожалуйста" required>
        </div>
    </form>
    <br>
    <button type="button" id="btn-signup" class="btn btn-secondary">Зарегистрироваться</button>
</div>
{{>layout/footer}}