{{>layout/header}}
{{>layout/nav}}
<link rel="stylesheet" href="styles/index.css" />
<script src="/js/app/index.js"></script>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/1pepperoni.jpg"
                                    class="card-img-top"
                                    alt="Пицца Пепперони"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name1">Пицца Пепперони</h5>
                                <div class="cost">
                                    <p class="lead" id="p1" style="display: inline">399</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q1"
                                            onclick="decr('q1')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q1"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q1"
                                            onclick="inc('q1')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(1)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/2barbeque.jpg"
                                    class="card-img-top"
                                    alt="Пицца Барбекю"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name2">Пицца Барбекю</h5>
                                <div class="cost">
                                    <p class="lead" id="p2" style="display: inline">499</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q2"
                                            onclick="decr('q2')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q2"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q2"
                                            onclick="inc('q2')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(2)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/3juliet.jpg"
                                    class="card-img-top"
                                    alt="Пицца Жульетта"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name3">Пицца Жульетта</h5>
                                <div class="cost">
                                    <p class="lead" id="p3" style="display: inline">519</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q3"
                                            onclick="decr('q3')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q3"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q3"
                                            onclick="inc('q3')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(3)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/4cheese.jpg"
                                    class="card-img-top"
                                    alt="Пицца 4 сыра"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name4">Пицца 4 сыра</h5>
                                <div class="cost">
                                    <p class="lead" id="p4" style="display: inline">489</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q4"
                                            onclick="decr('q4')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q4"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q4"
                                            onclick="inc('q4')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(4)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/5meatassorti.jpg"
                                    class="card-img-top"
                                    alt="Пицца Мясное Ассорти"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name5">Пицца Мясное Ассорти</h5>
                                <div class="cost">
                                    <p class="lead" id="p5" style="display: inline">529</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q5"
                                            onclick="decr('q5')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q5"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q5"
                                            onclick="inc('q5')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(5)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/6margarita.jpg"
                                    class="card-img-top"
                                    alt="Пицца Маргарита"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name6">Пицца Маргарита</h5>
                                <div class="cost">
                                    <p class="lead" id="p6" style="display: inline">349</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q6"
                                            onclick="decr('q6')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q6"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q6"
                                            onclick="inc('q6')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(6)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/7cheeseburger.jpg"
                                    class="card-img-top"
                                    alt="Пицца Чизбургер"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name7">Пицца Чизбургер</h5>
                                <div class="cost">
                                    <p class="lead" id="p7" style="display: inline">479</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q7"
                                            onclick="decr('q7')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q7"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q7"
                                            onclick="inc('q7')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(7)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center m-2" style="width: 18rem">
                            <img
                                    src="src/pizza/84tastes.jpg"
                                    class="card-img-top"
                                    alt="Пицца 4 вкуса"
                            />
                            <div class="card-body">
                                <h5 class="card-title" id="name8">Пицца 4 вкуса</h5>
                                <div class="cost">
                                    <p class="lead" id="p8" style="display: inline">449</p>
                                    <p class="lead" style="display: inline">₽</p>
                                </div>
                                <div class="quantity">
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q8"
                                            onclick="decr('q8')"
                                    >
                                        -
                                    </button>
                                    <input
                                            type="number"
                                            name="quantity"
                                            size="5"
                                            id="q8"
                                            value="1"
                                            min="1"
                                            max="25"
                                            disabled
                                    />
                                    <button
                                            type="button"
                                            class="btn btn-light"
                                            for="q8"
                                            onclick="inc('q8')"
                                    >
                                        +
                                    </button>
                                </div>
                                <button
                                        type="button"
                                        class="btn btn-success"
                                        onclick="addToCart(8)"
                                >
                                    В корзину
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{{>layout/footer}}